/* 
    RVS FEATURED SLIDER
*/ 

#banner-slide.rvs-featured-slider-container,
.rvs-featured-slider-container {
    width: 570px;
    border: 1px solid #CCC;
    padding: 10px;
}
#content .rvs-featured-slider-container > ul {
    /* selector wars, beating RECs build in list styliing */
    padding: 0;
    list-style: none;
}

/* outer container */
.rvs-featured-slider-product-container {
    /*clear: both;*/
}

/* image */
.rvs-featured-slider-product-image-container {
    display: block;
    height: 175px;
    text-align: center;
    position: relative;
    float: left;
}

.rvs-featured-slider-product-image {
    max-width: 100%;
    max-height: 100%;
}

/* attributes list */
.rvs-featured-slider-product-attribute-container {
    overflow: hidden;
}
.rvs-featured-slider-product-attribute-container,
.rvs-featured-slider-product-attribute-container li {
    list-style: none;
}
#content ul.rvs-featured-slider-product-attribute-container {
    /* selector wars, beating RECs build in list padding */
    padding: 0;
}

.rvs-featured-slider-product-attribute-container li {
    padding: 8px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.rvs-featured-slider-product-attribute-container li,
.rvs-featured-slider-product-attribute-container a {
    color: #FFF;
}

/* odd and even color attribute lines */
.rvs-featured-slider-product-attribute-container li {
    background: #4eb9dd;
}
.rvs-featured-slider-product-attribute-container li:nth-child(2n) {
    background: #479ebc;
}
/* button to view product */
.rvs-featured-slider-product-attribute-container li.rvs-featured-slider-product-call-to-action {
    background: #4c5759;
}

/* position the banner canvas element */
.banner-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: hand;
    cursor: pointer;
}
