/* [[START APP]] */

/* microfiche carousel default stying */
.microfiche-controls {
    display: block;
    text-align: center;
    font-size: 10px;
    padding: 5px 0px;
}
.microfiche-bullet {
    display: inline-block;
    cursor: pointer;
    width: 10px; height: 10px;
    border-radius: 6px;
    background: #000;
    overflow: hidden;
    text-indent: -1000px;
    margin: 0 5px;
    opacity: 0.25;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
}
.microfiche-bullet.selected {
    opacity: 1;
}
.microfiche-button {
    margin: 0 15px;
}

/* app styling */
.app-products-carousel-container {
    width: 600px; /* total container width = number of items * item width */
}
.app-products-carousel-container ul {
    list-style: none;
    padding: 0;
}

.app-products-carousel-container li {
    width: 200px; /* each item width */
    position: relative;
    text-align: center;
    height: 280px;
}
.app-products-carousel-container img {
    max-width: 100%;
    max-height: 100%;
}

.app-pc-item-default {}
.app-pc-item-hover {
    display:none;
}
.app-pc-item-hover strong,
.app-pc-item-hover small {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    left: 0;
}
.app-pc-item-hover strong {
    bottom: 30px;
}
.app-products-carousel-container li:hover .app-pc-item-default {
    display: none;
}
.app-products-carousel-container li:hover .app-pc-item-hover {
    display: block;
}

/* [[END APP]] */
